<h1 class="text-center" *ngIf="hotel != null;">CRUD HOTEL</h1>

<table id="example" #dTable class="display display w-75 bg-dark border border-dark" >
  <thead class="text-white">
      <tr>
          <th>ID</th>
          <th>Hotel</th>
          <th>Direccion</th>
          <th>Estrellas</th>
          <th>Imagen</th>
          <th>Opciones</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let data of hotel">
          <td>{{data.id_hotel}}</td>
          <td>{{data.nombre}}</td>
          <td>{{data.direccion}}</td>
          <td>{{data.estrellas}}</td>
          <td><a href="{{data.img}}" class="d-inline-block text-truncate" style="max-width: 200px;">{{data.img}}</a></td>
          <td>
            <button type="submit" class="btn btn-warning" routerLink="/admin/table-hotel/edit-hotel">Editar</button>
            <button type="submit" class="btn btn-danger" routerLink="*">Eliminar</button>
          </td>
      </tr>


  </tbody>



</table>
<div class="w-100 justify-content-center align-items-center">
<button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-hotel/create-hotel">Crear</button>
<button type="submit" class="btn btn-primary m-3" routerLink="/admin">Volver al menú</button>
</div>
