<div class="container border border-dark text-center text-dark w-50 h-50 mt-5">
  <h1>Crear Chollo</h1>
  <form class=>
    <div class="form-group">

      <label class="col-lg-4 control-label m-2">Título</label>

      <input type="text" class="form-control w-50 m-auto" id="hotel" placeholder="Introduce nombre del hotel" value="Chollo 1"/>
    </div>
    <div class="form-group ">
      <label class="m-2">Ubicación</label>
      <input type="text" class="form-control w-50 m-auto" id="ubicacion" placeholder="Escribe la ubicación"  value="Madrid"/>
    </div>
    <div class="form-group ">
      <label class="m-2">Imagen</label>
      <input type="text" class="form-control w-50 m-auto" id="ubicacion" placeholder="Escribe la ubicación"  value=""/>
    </div>
    <div class="form-group ">
      <label class="m-2">Precio</label>
      <input type="text" class="form-control w-50 m-auto" id="ubicacion" placeholder="Escribe la ubicación"  value="1"/>
    </div>
    <div class="form-group ">
      <label class="m-2">Descripción</label>
      <input type="text" class="form-control w-50 m-auto" id="ubicacion" placeholder="Escribe la ubicación"  value=""/>
    </div>
    <div class="form-group ">
      <label class="m-2">Fecha Caducidad</label>
      <input type="text" class="form-control w-50 m-auto" id="ubicacion" placeholder="Escribe la ubicación"  value="02/02/2022"/>
    </div>


    <button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-chollo">Crear</button>
    <button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-chollo">Cancelar</button>

  </form>
</div>
