<h1 class="text-center" *ngIf="viaje != null;">CRUD VIAJES</h1>

<table class="table table-dark table-striped mt-3 w-75 m-auto text-center">
  <thead class="text-white">
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Ubicación</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Descripción</th>
      <th>Fecha Caducidad</th>
      <th>Editar</th>
      <th>Eliminar</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of chollo">
      <td>{{data.id_chollo}}</td>
      <td>{{data.titulo}}</td>
      <td>{{data.ubicacion}}</td>
      <td class="text-truncate" style="max-width: 500px;"><a href="{{data.imagen}}">{{data.imagen}}</a></td>
      <td>{{data.precio}}</td>
      <td class="text-truncate" style="max-width: 750px;">{{data.descripcion}}</td>
      <td class="text-truncate" style="max-width: 115px;">{{data.fecha_caducidad}}</td>
      <td>
        <button type="submit" class="btn btn-warning"
          routerLink="/admin/table-chollo/edit-chollo/{{data.id_chollo}}">Editar</button>
      </td>
      <td>
        <button type="submit" class="btn btn-danger" role="button" (click)="eliminar(data.id_chollo)">Eliminar</button>
      </td>
    </tr>
  </tbody>
  <div class="position-absolute ">
    <button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-chollo/create-chollo">Crear</button>

    <button type="submit" class="btn btn-primary m-3" routerLink="/admin">Volver al menú</button>
  </div>
</table>

