
<table id="example" #dTable class="display w-75 bg-dark border border-dark " >
  <thead class="text-white">
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Ubicación</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Descripción</th>
      <th>Fecha Caducidad</th>
      <th>Opciones</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of chollo">
      <td>{{data.id_chollo}}</td>
      <td>{{data.titulo}}</td>
      <td>{{data.ubicacion}}</td>
      <td><a href="{{data.imagen}}" class="d-inline-block text-truncate" style="max-width: 200px;">{{data.imagen}}</a></td>
      <td>{{data.precio}}</td>
      <td class="d-inline-block text-truncate" style="max-width: 200px;">{{data.descripcion}}</td>
      <td>{{data.fecha_caducidad}}</td>
      <td>
        <button type="submit" class="btn btn-warning" routerLink="/admin/table-chollo/edit-chollo">Editar</button>
        <button type="submit" class="btn btn-danger" routerLink="*">Eliminar</button>
      </td>
    </tr>
  </tbody>



</table>
<div class="w-100 justify-content-center align-items-center">
  <button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-chollo/create-chollo">Crear</button>
  <button type="submit" class="btn btn-primary m-3" routerLink="/admin">Volver al menú</button>
</div>
<script type="text/javascript">

  $(document).ready(function(){

        var height = $(window).height();

        $('.flex-shrink-0').height(height);
  });
</script>
