<div class="container border border-dark text-center text-dark w-50 h-50 mt-5">
  <h1>Editar Hotel</h1>
  <form class=>
    <div class="form-group">

      <label class="col-lg-4 control-label m-2">Hotel</label>

      <input type="text" class="form-control w-50 m-auto" id="hotel" placeholder="Introduce nombre del hotel" value="Hotel 3"/>
    </div>
    <div class="form-group ">
      <label class="m-2">Ubicación</label>
      <input type="text" class="form-control w-50 m-auto" id="ubicacion" placeholder="Escribe la ubicación"  value="Madrid"/>
    </div>
    <div class="form-group ">
      <label class="m-2">Valoración</label>
      <select class="form-select  w-50 m-auto ">
        <option selected >Elige una valoración</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="2">⭐⭐</option>
        <option value="1">⭐</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-hotel">Editar</button>
    <button type="submit" class="btn btn-primary m-3" routerLink="/admin/table-hotel">Cancelar</button>

  </form>
</div>
