<h1 class="text-center mt-3">CRUD</h1>
<div class="container w-75 mt-5 bg-light border border-dark">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Hotel</th>
      <th scope="col">Ubicación</th>
      <th scope="col">Estrellas</th>
      <th scope="col">Opciones</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hotel 1</td>
      <td>Reus</td>
      <td>⭐⭐</td>
      <td>
        <button type="submit" class="btn btn-warning" routerLink="/admin/table/edit">Editar</button>
        <button type="submit" class="btn btn-danger mx-2" routerLink="*">Eliminar</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hotel 2</td>
      <td>Barcelona</td>
      <td>⭐⭐⭐</td>
      <td>
        <button type="submit" class="btn btn-warning" routerLink="/admin/table/edit">Editar</button>
        <button type="submit" class="btn btn-danger mx-2" routerLink="*">Eliminar</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hotel 3</td>
      <td>Madrid</td>
      <td>⭐⭐⭐⭐</td>
      <td>
        <button type="submit" class="btn btn-warning" routerLink="/admin/table/edit">Editar</button>
        <button type="submit" class="btn btn-danger mx-2" routerLink="*">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<button type="submit" class="btn btn-primary m-3" routerLink="/admin/table/create">Crear</button>
<button type="submit" class="btn btn-primary m-3" routerLink="/admin">Volver al menú</button>
</div>
