<div class="d-flex">
  <div class="row">
    <div class="col-12">
      <div class="card-body">
        <div class="card text-white text-center bg-primary mb-3">
          <div class="w-100 h-25 d-inline-block">
          <img src="./assets/pangolin.jpg" class="card-img-top img-fluid " style="max-height:250px;" alt="..."/>
        </div>
          <div class="card-body">
            <h5 class="card-title">Hotel ⭐⭐⭐</h5>
            <p class="card-text">
              Descripcion de una oferta, en este ejemplo pues sería de un hotel.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
