<div class="masthead w-100 m-auto" *ngIf="chollo != null;"
  style="background-image: url('{{chollo.imagen}}'); background-position: 15% 50%;">
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <h1>{{chollo.titulo}}</h1>
  </div>
</div>

<div class="w-100 p-4 mt-2 d-flex bg-dark">
  <div class="w-50 ms-4">
    <div class="badge w-100">
      <h3>Hoteles</h3>
      <div class="card m-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="" src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 text-dark ">
            <div class="card-body text-wrap justify-content-center align-items-center">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longerThis is a wider card with supporting text below as a natural
                lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 text-dark ">
            <div class="card-body text-wrap justify-content-center align-items-center">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longerThis is a wider card with supporting text below as a natural
                lead-in to additional content. .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-4 me-4 w-50">
    <div class="badge w-100">
      <h3>Realizar reserva</h3>
      <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-2">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">nombre</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example2" class="form-control" />
              <label class="form-label" for="form6Example2">apellido</label>
            </div>
          </div>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-2">
          <select class="select form-control">
            <option value="1">Hotel 1</option>
            <option value="2">Hotel 2</option>
          </select>
          <label class="form-label" for="inlineFormSelectPref">selecciona hotel</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-2">
          <input type="email" id="form6Example5" class="form-control" />
          <label class="form-label" for="form6Example5">Email</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-2">
          <input type="number" id="form6Example6" class="form-control" />
          <label class="form-label" for="form6Example6">telefono de contacto</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-2">
          <textarea class="form-control" id="form6Example7" rows="4"></textarea>
          <label class="form-label" for="form6Example7">Additional information</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-2">Place order</button>
      </form>
  </div>
</div>
</div>

<div class="w-75 m-auto mt-4 d-flex">
  <div class="text-wrap justify-content-center align-items-center">
    <h3>descripcion</h3>
    <p>{{chollo.descripcion}}</p>
  </div>
</div>
